section.accessories
    .accessories_header
        | АКСЕССУАРЫ ДЛЯ ПЛАСТИКОВЫХ ОКОН
    .row.accessories_items
        .column.large-4
            a.accessories_item(href="#")
                span.accessories_item_img
                    img(src="./img/accessories/slope.png", alt="Откосы")
                span.accessories_item_title
                    | Откосы
        .column.large-4
            a.accessories_item(href="#")
                span.accessories_item_img
                    img(src="./img/accessories/windowsill.png", alt="Подоконники")
                span.accessories_item_title
                    | Подоконники
        .column.large-4
            a.accessories_item(href="#")
                span.accessories_item_img
                    img(src="./img/accessories/outflow.jpg", alt="Отливы")
                span.accessories_item_title
                    | Отливы
        .column.large-4
            a.accessories_item(href="#")
                span.accessories_item_img
                    img(src="./img/accessories/jalousie.jpg", alt="Жалюзи")
                span.accessories_item_title
                    | Жалюзи
        .column.large-4
            a.accessories_item(href="#")
                span.accessories_item_img
                    img(src="./img/accessories/fittings.jpg", alt="Фурнитура")
                span.accessories_item_title
                    | Фурнитура
        .column.large-4
            a.accessories_item(href="#")
                span.accessories_item_img
                    img(src="./img/accessories/mosquito.jpg", alt="Москитные сетки")
                span.accessories_item_title
                    | Москитные сетки
        .column.large-4
            a.accessories_item(href="#")
                span.accessories_item_img
                    img(src="./img/accessories/child_lock.jpg", alt="Детские замки")
                span.accessories_item_title
                    | Детские замки
        .column.large-4
            a.accessories_item(href="#")
                span.accessories_item_img
                    img(src="./img/accessories/shutters.jpg", alt="Рольставни")
                span.accessories_item_title
                    | Рольставни
        .column.large-4
            a.accessories_item(href="#")
                span.accessories_item_img
                    img(src="./img/accessories/glazed.jpg", alt="Стеклопакеты")
                span.accessories_item_title
                    | Стеклопакеты
        .column.large-4
            a.accessories_item(href="#")
                span.accessories_item_img
                    img(src="./img/accessories/roller.jpg", alt="Рулонные шторы")
                span.accessories_item_title
                    | Рулонные шторы
        .column.large-4
            a.accessories_item(href="#")
                span.accessories_item_img
                    img(src="./img/accessories/sealing.jpg", alt="Уплотнение")
                span.accessories_item_title
                    | Уплотнение
        .column.large-4
            a.accessories_item(href="#")
                span.accessories_item_img
                    img(src="./img/accessories/meteoglass.jpg", alt="MeteoGlass")
                span.accessories_item_title
                    | MeteoGlass
        .column.large-4
            a.accessories_item(href="#")
                span.accessories_item_img
                    img(src="./img/accessories/visioglass.jpg", alt="VISIOGLASS")
                span.accessories_item_title
                    | VISIOGLASS