.banner(class=(page)?'banner--'+page:'')
    .row.banner_inner
        .column
            .banner_header
                | АКСЕССУАРЫ ДЛЯ
                br
                | ПЛАСТИКОВЫХ ОКОН
            .banner_descr
                ul.menu.vertical.banner_list
                    li
                        | При монтаже пластикового окна как правило требуется
                        br
                        | установка подоконников, откосов и отливов.
                    li
                        | Жалюзи и москитные сетки — также важнейший
                        br
                        | сопутствующий элемент оконных систем.
                    li
                        | В данном разделе Вы сможете поподробнее узнать об этих
                        br
                        | аксессуарах для пластиковых окон и не только о них