footer.footer
    .footer_contact
        .footer_contact_header
            | КОНТАКТЫ
        ul.menu.vertical.footer_contact_list
            li
                .footer_contact_list_img
                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAZCAYAAAAmNZ4aAAABiklEQVRIS+2WXVXDQBBGv5GABSyABCoBJFAJVAKVABKoBGoBC1iohOHcdCdnEpJ2CUl5YV/S9OzOnfnmZ2Mqy91v4veSTzP7wL65+7Wkd0k8L7E+Ja0AA727BDEx9oC9/LGWtFvYgXtJLyF1Czaz1yXB7g74rQ/em9lqYTBQ4E1xRcS830bVze2Au1NH1FOz+uBjxZnxnG0NdU4fDOwg6cHM9nOQS6RIfJXtZfBG0lPasDGz7W/g7o6952KDgLDXvGcwhYXElHv0Ne21NjMOVS93JzrsNIUkCfVo1xhWXXDI6+54hbcsRhzSV+W95BNpYwRvzQw1lQusE3HOa+k5vMZ7IibykwPm3JkqcPEQr/E+5njrfV/3nkqog0rNhRCrGlzgRAx8MO8j+QT6rS5+BE7e5rxjNMbrY+qEUUWqczxUwr0c5i21NdBOr9HiGuudIi0VH9LTKkR6tuUmSV3dxCc2/oP/7AukvZznyGOljV18ZebZWnl28rbj7E8DgrHYuTMnmx4/eIjL5gs53Ax6v7zqVQAAAABJRU5ErkJggg==", alt="Конверт")
                .footer_contact_list_content
                    .footer_contact_list_title
                        | E-MAIL
                    a(href="mailto:kaleva@okna-hit.ru" target="_blank")
                        | kaleva@okna-hit.ru

            li
                .footer_contact_list_img
                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABe0lEQVRIS6WWjVHCQBSEd0uwBSnBFqQEKUFKkBKkBChBSpASpAQpQUp4zpfJMcd5ITH3ZgLMhOx3e+/nYmUREU+SniWdbB/ze3N/mwcj4kHSpyQAxEXSwjbfTZEAiLPyPLa2N03qkhwRCAOoBS7OLRAAH5JeBkQOtletgB9J5GAoVrYPcyE4iJGHN7a3LYBagpPe3vZ6rjjP4eBd0ltFZG173yKeANT+VyHUvPKkl/oAQGoy7p1tL1pX3zngIyJeJe0Kwabklg4o0++iXBkTS9unFiedgzsuEAcyeyZdAT2kVrJH28u5LkoAW0XCHwtBOpmyrTrpc3ipdfwNoHdBNeGkHB9sF2PjZvhFBD1ELxEshOK4/ucPYASCA8Z4NzoGqo9bjHl66VIFjEC6PulXW5sAaXdZzHoQMAEyJe+bu4AeQi44M8oTbwpgNQrI+oTt4Lp3duTQbtxMBmRuGCtcZSnn4lQcZX36FyBX6F9xOGrZujQoedXhmL2O+V+A0ZIxvowM5wAAAABJRU5ErkJggg==", alt="Телефон")
                .footer_contact_list_content
                    .footer_contact_list_title
                        | ТЕЛЕФОНЫ
                    a(href="tel:+74993229711")
                        | +7 (499) 322-97-11

            li
                .footer_contact_list_img
                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAbCAYAAABxwd+fAAABX0lEQVRIS62V0XHCQAxEd0uAEkIJoQQoIZSQlBBKCCWEEpISQgmhhFBCKEHMenyes5BsM2PN8HPm3q1WOh0RhJktAGwAPFWfrwBOJC/RHtaLLeAVwDsAwaI4Ajh4YAcyM53+BeA5AdTLUrcjeSqLDahV8utSmcDDmuRZfywgKXkJdsoP/ZRmpFTKViSvNDOZ+uMgd9IHUt+TPAj0CUAGlxBkWyQHxdChtboLyZVA8qb+oIrsM4PMTBbIijqWAplblJquGkmf3e+ZEzRHao1Hs5kto6VqsHNHy992tkqqfvIxvSFbUNSUU65I04zdFRlRlQG76+FBj6o6knwrp/h59PfABNBl7YacB+nOqR3Goqeml1rZaWZTVPXUZKAxVd8kd15yL7VK1f/AzA4vdQbS8P8IjNIrso0MzEAarfLKvyTpiAlBbYN6VWeS66ycQyCpKWM1Hb9hQybTcKFXYqyxbmjOuct9x8OiAAAAAElFTkSuQmCC", alt="Метка")
                .footer_contact_list_content
                    .footer_contact_list_title
                        | АДРЕС
                    | г. Зеленоград, 16 микрорайон, корп. 1649,
                    br
                    | вход напротив автобусной остановки (остановка "Пенсионный фонд").
            li
                .header_social
                    ul.menu
                        li
                            a(href="#")
                                img(src="../img/social/odnoklassniki.png", alt="")
                        li
                            a(href="#")
                                img(src="../img/social/instagram.png", alt="")
                        li
                            a(href="#")
                                img(src="../img/social/fb.png", alt="")
                        li
                            a(href="#")
                                img(src="../img/social/vk.png", alt="")
    .footer_map
        //- iframe(src='https://yandex.ua/map-widget/v1/?um=constructor%3Ad80cd645d534a36a854c7f609801343e0a5721292d22c1a42249396173d6bb9d&source=constructor', frameborder='0')
script(src="./js/app.min.js")