section.installment
    .row.installment_inner
        .column.medium-offset-5
            .installment_header
                | Честная рассрочка!
            .installment_content
                | Размер первоначального взноса 
                b от 0 руб.
                br
                | Период рассрочки 
                b от 6 до 21 месяца
                br
                | Сумма рассрочки — 
                b от 25 000 до 300 000 руб. РФ
                br
                | Отсутствие процентов и переплат!
                br
                | Все расходы компания 
                b Kaleva берет на себя.
                br
                | Отсутствие скрытых комиссий
                br
                | Простота оформления! При договоре 
                b на сумму менее 100 тысяч руб
                | . необходим всего ОДИН документ — 
                b паспорт РФ
                | .
                br
                | Ежемесячно вы платите небольшие суммы, которые реально спланировать и вносить в качестве погашения (это опять же выгодно, так как не надо отдавать всю з/п).
                a.button.small(href="#")
                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAASCAYAAACNdSR1AAAA9klEQVQ4T5WSYXECQQyFvycBC1QCJ4FKAAkgASSABCoBJBQJrQSwgIQw79gc25sdmGbmfmT2S/LuJWIUETEB/N0k3epnZRIRU2AHzBMGzsBW0tVcD0eEgSNwAr7ctRSsgAWwlHRWGftjSNK+IWsDuKgz7GQhqRuDlUQ3Oxn+trZW1wp2w7nhC7CXZK3NiAjL2Py782OE9Pmi80Nq8dc/0NvTcCNt7dLnpz3V1sa21hv0qKukdeXCwcuRtBw2WLY4A1xg7bnBPpf0+wcuBbbRN5LhSR+ZDDIq2COz8/EdbM2+Mk84vIJ9onYmw5vdNmUUKYPmvOOE7yp/hXI8dbNqAAAAAElFTkSuQmCC", alt="")
                    | УЗНАТЬ ПОДРОБНЕЕ