mixin item(header, content, img, is_large)
    .manufacture_item
        .manufacture_item_content
            .manufacture_item_header
                =header
            .manufacture_item_text(class=is_large?'manufacture_item_text--large':'')
                !=content
        .manufacture_item_img
            .advantages_advantage_content.advantages_advantage_content--manufacture
                .advantages_advantage_content_item.advantages_advantage_content_item--default
                    | Преимущество
                    br
                    | №1
                .advantages_advantage_content_item.advantages_advantage_content_item--active
                    b Преимущество №1
                    p
                        | Нашей компании - 21 год!
                        br
                        | Далеко не каждая оконная
                        br
                        | фирма может похвастаться
                        br
                        | таким солидным стажем!
                        br
                        | А от него - очень
                        br
                        | многое зависит!
                    a(href="#")
                        | Узнать преимущество №2
            img(src='../img/manufacture/' + img + '.jpg' alt=header)
section.manufacture
    .manufacture_header
        | Этапы производства
    .manufacture_descr
        | Давайте познакомимся с производственными подразделениями и этапами производства окон Kaleva поближе...
    .row.column.manufacture_items
        +item('1. Завод по производству профиля - экструзия', 'Изготовить качественное окно возможно только на полностью автоматизированных линиях - с пэтапным контролем качества. Применение автоматизированных линий оправдано только 1500 изделий в сутки. От оформления заказа до получения клиентом готового окна проходит всего пять дней.<br><br>Компания обладает интеллектуальным потенциалом и производственными возможностями для изготовления самых сложных заказов, включая изделия нестандартных форм, с применением ламинации и покраски профиля, витражей и внутренней раскладки. Уровень качества соответсвует всем европейским нормам и стандартам.', '1', 1)
        
        +item('2. Цех ламинации', 'В цеху ламинации производится покрытие белого (или коричневого, или карамельного ) профиля многослойными ламинационными пленками. Что из себя представляет процесс ламинации? Это покрытие профиля ПВХ специальной тисненной декоративной пленкой Renolit с применением специальных клеев специальными ламинирующими машинами.<br><br>Ламинационные пленки – это пленки нового поколения. Наружний слой пленки характеризуется высокой стойкостью к различным атмосферным изменениям и к воздействию ультрафиолетовых лучей. Они остаются яркими и свежими на многие годы.<br><br>Ламинационные пленки позволяют профилю ПВХ имитировать различные породы дерева, но могут быть и просто однотонными (к примеру, белыми структурными, или красными, или зелеными). Если нужно - профили из ПВХ могут ламинироваться с одной стороны, или с двух сторон.<br><br>Пленки Renolit помогут вам выдержать в своем помещении единое цветовое решение вкупе с мебелью или с другими элементами декора, или создать особые цветовые яркие пятна.', '2')
        
        +item('3. Цех по производству стеклопакетов', 'Пластиковые окна на заводе Калева производятся только на ультрасовременном и, прошедшим проверки, оборудовании. Классное оснащение предприятия и новейшие технологии в сфере пластиковых окон позволяют Калева изготавливать за сутки 2700 стеклопакетов.<br><br>Причем, все прямоугольные двухкамерные стеклопакеты заполняются инертным газом аргоном. В производстве стеклопакетом Калева используются самые разнообразные стекла:<br><br>Стекла 1 сорта марки М1 толщиной 4мм и 6 мм;<br>Энергосберегающие I-стекла<br>Многофункциональные IM-стекла<br>Цветные и матовые стекла<br>Витражи пленочных и красочных технологий<br>Стекла с пескоструйным рисунком для создания окон с подсветкой<br>Декоративные триплекс<br>Нарезка стекол осуществляется на специальных автоматизированных столах. Причем , когда стекла перемещаются, для того чтобы на них не образовывались царапины, они не касаются<br>поверхности нарезочных столов.', '3')
        
        +item('3.1 Цех по производству стеклопакетов', 'Когда изготавливаются стеклопакеты с энергосберегающим и многофункциональными стеклами, производится зачистка напыления на расстояние примерно 7 мм от края стеклопакета. Эта операция нужна для того, чтобы обезопасить в дальнейшем стеклопакет от коррозии и обеспечить его герметизацию на долгие годы. После нарезки стекла попадают на автоматическую мойку. Сушка стекол осуществляется поэтапно – сначала холодным, а затем горячим потоками воздуха.<br><br>Затем идет заполнение стеклопакета инертным газом аргоном и дальнейшая его герметизация. Все это тоже происходит автоматизировано , без применения человеческих рук. О том, что газ закачан в стеклопакет полностью сообщает такой прибор, как газоанализатор.<br><br>Для производства окон ПВХ Калева используется стеклопакет с двойной герметизацией. Долгую службу стеклопакета обеспечивают высококачественные герметики от западноевропейских производителей.<br><br>Испытания на долговечность в специальных лабораториях позволили определить срок службы 2-х камерных стеклопакетов 70 лет!', '4')

        +item('4. Цех по изготовлению оконных рам и створок.', 'Продукция компании Калева отличается высочайшим качеством. Хорошее оснащение предприятия и новейшие современные технологии производства позволяют выполнять заказы любой сложности качественно и в срок.<br><br>Автоматизированные немецкие линии компании Urban позволяют выпускать 1500 изделий в сутки. Применение автоматизированных систем позволяет повысить точность и свести к минимуму ручной труд.<br><br>Управляют оборудованием только высококвалифицированные и опытные специалисты. Изготовление оконных конструкций их ПВХ делится на несколько технологических операций.', '5', 1)

        +item('4.1 Цех по изготовлению оконных рам и створок.', 'Распил профиля из ПВХ производится в автоматическом режиме в соответствии с заданными размерами. Затем также автоматически просверливаются отверстия водоотливные и под фурнитуру.<br><br>Следующим этапом в полученные распиленные заготовки устанавливается стальное армирование, которое обеспечивает в дальнейшем жесткость и естественно устойчивость к различным температурным скачкам и ветровым нагрузкам.<br><br>После того, как будет установлено армирование - производится процесс сварки. Станки для сварки у нас на заводе 4-х головочные и, следовательно, одновременно свариваются все 4 угла, что позволяет выдержать геометрию сворок.', '6', 1)

        +item('4.2 Цех по изготовлению оконных рам и створок.', 'На автоматизированных линиях Калева температура сварочной пластины тоже находится под контролем автоматики, ведь если температура будет отличаться от нормы – либо шов получится ненадежным , либо появится нагар, который испортит внешний вид пластикового окна.<br><br>Следующая операция – это вставка уплотнения, которое обеспечивает мягкий и плотный прижим стеклопакета к профилю створки, а также для более плотного прижима всей створки к раме в целом.<br><br>Фурнитура тоже фиксируется автоматически, это тоже способствует качественной работе окна. После этого в готовые конструкции вставляются стеклопакеты. Готовые оконные конструкции попадают в отдел технического контроля (ОТК), где проходят приемку.', '7')

        +item('5. Складской комплекс.', 'И наконец, после того как окна были качественно изготовлены и тщательно проверены инспекторами из Отдела технического контроля, оконные конструкции должны быть подготовлены к отправке Заказчикам.<br><br>Каждая оконная конструкция тщательно и осторожно упаковывается в полиэтиленовую пленку. Это нужно чтобы уберечь конструкцию от сколов и царапин, пыли , а также от атмосферных осадков во время доставки Заказчикам.<br><br>После того как изделия были упакованы, они ставятся на специальные тележки и перемещаются по территории завода в строго вертикальном положении. Это все желается для сохранения их первоначального вида.', '8')

        +item('5.1 Складской комплекс.', 'Хранятся оконные конструкции также вертикально в специальных лотках на подставочном профиле. По конкретным заказам все окна формируются заранее. Это все обеспечивает минимальные затраты времени на погрузку изделий на специализированные машины, оборудованные специальными пирамидами.<br><br>На этих пирамидах окна надежно крепятся надежными крепежными ремнями, которые помогают обеспечить оконным конструкциям целостность и сохранность на всем пути до дома Заказчика. Мы можем смело сказать, что окна Калева доходят до своего Заказчика в рекордно короткие сроки!', '9', 1)

        +item('6. Испытательная лаборатория.', 'Профиль ПВХ, изготовленный на заводе Калева, проверяется по основным параметрам:<br><br>- Визуальная проверка – профиль окон Калева должен быть белоснежный, глянцевый и с абсолютно ровной поверхностью<br>- Прочностные характеристики - профиль помещается в морозильнуюй камеру, а затем проходит испытания на устойчивость к удару - груз массой в 1 кг сбрасывается на профиль с высоты 1,5м. После проверки на профиле не должно быть никаких сколов и следов.<br>- Проходит проверку на прочность при растяжении и на изменение характеристик линейных размеров.<br>- Проходит проверку в климатической камере при температуре не менее 75 градусов С.<br>- Профили Калева проходят проверку в лаборатории и отвечают всем требованиям высокого качества! Срок службы профилей Калева, который был подтвержден в лабораториях, 70 условных лет!', '8')

        +item('6.1 Испытательная лаборатория.', 'Прежде чем предложить Заказчику новый продукт, компания Калева в аккредитованных лабораториях, а также в Испытательном центре, производит его испытания. Испытания готовых оконных конструкций производятся по таким параметрам, как :<br><br>- Воздухо - и водопроницаемость<br>- На количество циклов «открывание-закрывание»<br>- На прочность сварного шва;<br>- Проверка на «точку росы» (появление конденсата внутри стеклопакета при охлаждении участка стекла, что недопустимо в качественном стеклопакете);<br>- Проверка окон в в разных температурных режимах;<br>- Испытание стеклопакета на долговечность', '10')