ul.menu
    li
        a(href="#")
            | ОКНА КАЛЕВА
    li
        a(href="#")
            | ДВЕРИ
    li
        a(href="#")
            | БАЛКОНЫ
    li
        a(href="#")
            | КОТТЕДЖИ
    li
        a(href="#")
            | АКЦИИ
    li
        a(href="#")
            | ЦЕНЫ
    li
        a(href="#")
            | УСЛУГИ
    li(class=(page=='reviews')?"active":"")
        a(href="./reviews.html")
            | ОТЗЫВЫ
    li(class=(page=='contacts')?"active":"")
        a(href="./contacts.html")
            | КОНТАКТЫ        
