nav.nav
    .row.nav_inner
        .column.medium-2.nav_logo
            a(href="/")
                img(src="../img/logo.svg", alt="")
        .column.nav_menu
            button.hamb(data-toggle="menu" data-auto-focus="0")
                span.hamb_inner
            include _menu
        .column.shrink.nav_call
            button.button.small.alert.button--red
                | Обратный звонок