section.portfolio
    .portfolio_item
        img.portfolio_item_img(src="./img/portfolio/1.jpg", alt="Патио")
    .portfolio_item.portfolio_item--tall
        img.portfolio_item_img(src="./img/portfolio/3.jpg", alt="Отделка лоджии")
    .portfolio_item.portfolio_item--header
        img(src="./img/logo.svg", alt="Логотип")
        | НАШИ
        br
        | РАБОТЫ
    .portfolio_item
        img.portfolio_item_img(src="./img/portfolio/5.jpg", alt="Балкон")
    .portfolio_item
        img.portfolio_item_img(src="./img/portfolio/2.jpg", alt="Остекление загородного дома")
    .portfolio_item.portfolio_item--large
        img.portfolio_item_img(src="./img/portfolio/6.jpg", alt="раздвижные стеклянные двери")