section.prices
    .prices_header
        | Узнайте стоимость окон Kaleva по акции
    .row.owl-carousel.prices_slider
        .prices_item
            .prices_item_img
                img(src="./img/windows/standart_balk.png", alt="")
            .prices_item_content--balk
                .prices_item_name
                    | Балконный блок
                    span STANDART
                .prices_item_price
                    s
                    b
                    span
        .prices_item
            .prices_item_img
                img(src="./img/windows/standart_2.jpg", alt="")
            .prices_item_content--2
                .prices_item_name
                    | Двустворчатое окно
                    span STANDART
                .prices_item_price
                    s
                    b
                    span
        .prices_item
            .prices_item_img
                img(src="./img/windows/standart_3.jpg", alt="")
            .prices_item_content--3
                .prices_item_name
                    | Трехстворчатое окно
                    span STANDART
                .prices_item_price
                    s
                    b
                    span
    .prices_models
        button.prices_models_item.active(data-model="standart")
            | STANDART
        button.prices_models_item(data-model="vita")
            | VITA
        button.prices_models_item(data-model="design")
            | DESIGN
        button.prices_models_item(data-model="design_plus")
            | DESIGN PLUS
        button.prices_models_item(data-model="deco")
            | DECO
        button.prices_models_item(data-model="titan")
            | TITAN
        button.prices_models_item(data-model="titan_plus")
            | TITAN PLUS
        button.prices_models_item(data-model="vario")
            | VARIO
        button.prices_models_item(data-model="space")
            | SPACE