section.scheme
    .scheme_header
        | Схема работы
    .scheme_descr
        | Вся работа будет выполнена “от” и “до”!
    .scheme_inner
        .scheme_item
            .scheme_item_img
                img(src="./img/scheme/phone.svg", alt="Телефон")
            .scheme_item_title
                | Обращение
                br
                | в офис
        .scheme_item
            .scheme_item_img
                img(src="./img/scheme/tool.svg", alt="Рулетка")
            .scheme_item_title
                | Замер в
                br
                | удобное время
        .scheme_item
            .scheme_item_img
                img(src="./img/scheme/delivery.svg", alt="Машина")
            .scheme_item_title
                | Быстрая
                br
                | доставка окон
        .scheme_item
            .scheme_item_img
                img(src="./img/scheme/toolbox.svg", alt="Ящик с инструментами")
            .scheme_item_title
                | Качественный
                br
                | монтаж окон
        .scheme_item
            .scheme_item_img
                img(src="./img/scheme/crop.svg", alt="Размер")
            .scheme_item_title
                | Отделка
                br
                | проёмов
        .scheme_item
            .scheme_item_img
                img(src="./img/scheme/thumbs_up.svg", alt="Палец ввверх")
            .scheme_item_title
                | Гарантийное и послегарантийное обслуживание