section.services
    a.services_item.services_item--yellow(href="#")
        span.services_item_title
            | Остекленение балконов / лоджи
        span.services_item_bg
            img(src="./img/services/1.jpg", alt="")
    a.services_item.services_item--blue(href="#")
        span.services_item_title
            | Отделка балконов / лоджий
        span.services_item_bg
            img(src="./img/portfolio/5.jpg", alt="")
    a.services_item.services_item--blue(href="#")
        span.services_item_title
            | Опции
        span.services_item_bg
            img(src="./img/services/3.jpg", alt="")
    a.services_item.services_item--yellow(href="#")
        span.services_item_title
            | Иновации
        span.services_item_bg
            img(src="./img/portfolio/6.jpg", alt="")
    a.services_item.services_item--yellow(href="#")
        span.services_item_title
            | Профильные системы
        span.services_item_bg
            img(src="./img/services/5.jpg", alt="")
    a.services_item.services_item--blue(href="#")
        span.services_item_title
            | Фурнитура
        span.services_item_bg
            img(src="./img/portfolio/1.jpg", alt="")