section.services
    .services_item.services_item--yellow
        .services_item_title
            | Остекленение балконов / лоджи
        .services_item_bg
            img(src="./img/services/1.jpg", alt="")
    .services_item.services_item--blue
        .services_item_title
            | Отделка балконов / лоджий
        .services_item_bg
            img(src="./img/portfolio/5.jpg", alt="")
    .services_item.services_item--blue
        .services_item_title
            | Опции
        .services_item_bg
            img(src="./img/services/3.jpg", alt="")
    .services_item.services_item--yellow
        .services_item_title
            | Иновации
        .services_item_bg
            img(src="./img/portfolio/6.jpg", alt="")
    .services_item.services_item--yellow
        .services_item_title
            | Профильные системы
        .services_item_bg
            img(src="./img/services/5.jpg", alt="")
    .services_item.services_item--blue
        .services_item_title
            | Фурнитура
        .services_item_bg
            img(src="./img/portfolio/1.jpg", alt="")