extends layout
block content
    -
        var page   = 'accessories';
        var header = 'АКСЕССУАРЫ ДЛЯ<br>ПЛАСТИКОВЫХ ОКОН';
        var descr  = '<ul class="menu vertical banner_list"><li>При монтаже пластикового окна как правило требуется<br>установка подоконников, откосов и отливов.</li><li>Жалюзи и москитные сетки — также важнейший<br>сопутствующий элемент оконных систем.</li><li>В данном разделе Вы сможете поподробнее узнать об этих<br>аксессуарах для пластиковых окон и не только о них</li></ul>';
    include includes/_banner
    include includes/_accessories