extends layout
block content
    -
        var banner = 1;
        var page = 'reviews';
        var header = 'СВЯЖИТЕСЬ С НАМИ';
        var descr = '«Мечтайте больше. Думайте иначе!»';
        var button = 'Оставить заявку'
    include includes/_banner
    include includes/_offices
    include includes/_contact