extends layout    
block content
    -
        var page   = 'manufacture';
        var header = 'ПРОИЗВОДСТВО<br>ОКОН KALEVA';
        var descr  = 'Окна и двери Kaleva соответствуют стандартам европейского<br>качества. Добиться высочайшего качества продукции при таком<br>количестве (более 1500 окон в день!) позволяет собственное<br>высокотехнологичное производство с контролем качества<br><span>на каждом этапе.</span>';
    include includes/_banner
    include includes/_manufacture