extends layout
block vars
    -
        var page   = 'manufacture',
            header = 'ПРОИЗВОДСТВО<br>ОКОН KALEVA',
            descr  = 'Окна и двери Kaleva соответствуют стандартам европейского<br>качества. Добиться высочайшего качества продукции при таком<br>количестве (более 1500 окон в день!) позволяет собственное<br>высокотехнологичное производство с контролем качества<br><span>на каждом этапе.</span>';   
block content
    include includes/_banner
    include includes/_manufacture