extends layout    
block content
    -
        var banner = true;
        var page = 'reviews';
        var header = 'ОТЗЫВЫ КЛИЕНТОВ';
        var descr = '«Ваше мнение важно для нас!»';
        var button = 'Оставить отзыв'
    include includes/_banner
    include includes/_reviews_people
    include includes/_contact