extends layout    
block content
    -
        var banner = true,
            page = 'reviews',
            header = 'ОТЗЫВЫ КЛИЕНТОВ',
            descr = '«Ваше мнение важно для нас!»',
            button = 'Оставить отзыв';
    include includes/_banner
    include includes/_reviews_people
    include includes/_contact