.banner{
    position: relative;
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($white, .5);
    }
    &--large{
        height: 525px;
        text-align: center;
        box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.3);
        z-index: 1;
        &::after{
            background: rgba($white, .7);
        }
        .banner{
            &_header{
                font-size: 60px;
                margin-bottom: 22px;
            }
            &_descr{
                margin-bottom: 33px;
                font-size: 24px;
                padding-top: 34px;
                &::before{
                    left: calc(50% - 31px);
                }
            }
        }
    }
    $banners: accessories, manufacture, reviews;
    @each $banner in $banners{
        &--#{$banner}{
            background-image: url(../img/promo/#{$banner}.jpg)
        }
    }
    &_inner{
        position: relative;
        height: 100%;
        align-items: center;
        z-index: 2;
    }
    &_logo{
        width: 256px;
        margin: auto;
        margin-bottom: 30px;
    }
    &_header{
        color: $secondary-color;
        font-size: 55px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    &_descr{
        position: relative;
        padding-top: 24px;
        color: $primary-color;
        font-size: 20px;
        font-weight: 500;
        &::before{
            @extend .slider_item_descr::before;
        }
        span{
            color: $secondary-color;
            font-size: 24px;
        }
    }
    &_list{
        li{
            display: flex;
            line-height: 1.15;
            margin: 5px 0;
            &::before {
                content: '-';
                margin-right: 6px;
            }
        }
    }
}