.header{
    height: 60px;
    background-color: $light-gray;
    @include breakpoint(medium down) {
        height: 56px;
    }
    @include breakpoint(small down){
        // display: none;
    }
    &_inner{
        align-items: center;
        font-weight: 700;
        color: $dark-gray;
        height: 100%;
        @include breakpoint(medium down){
            font-size: 12px;
        }
        @include breakpoint(small down) {
            justify-content: space-around;
        }
        img{
            height: 17px;
            margin-right: 10px;
            vertical-align: sub;
            @include breakpoint(medium down){
                vertical-align: bottom;
            }
        }
        a{
            color: $dark-gray;
            &:hover{
                text-decoration: underline;
            }
        }
        span{
            @include breakpoint(medium down){
                display: block;
            }
        }
    }
    &_col{
        display: flex;
        align-items: center;
        @include breakpoint(small down) {
            font-size: 14px;
            &:nth-child(2){
                display: none;
            }
        }
    }
    &_phone{
        font-size: 18px;
        img{
            vertical-align: middle;
        }
        @include breakpoint(small down) {
            flex: 0 0 auto;
        }
    }
    &_social{
        padding-left: 60px;
        .menu li {
            margin-bottom: 0;
            &:first-child{
                a{
                    margin-left: 0;
                }
            }
        }
        a{
            padding: 0;
            max-width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            margin-left: 20px;
            transition: 300ms;
            @include breakpoint(medium down){
                height: 16px;
                margin-left: 16px;
            }
            &:hover{
                opacity: .7;
            }
            img{
                height: auto;
                max-height: 100%;
                margin: 0;
            }
        }
    }
}