@font-face {
    font-family: 'PF DinText Pro';
    src: url('../fonts/PFDinTextPro/PFDinTextPro-Medium.woff2') format('woff2'),
         url('../fonts/PFDinTextPro/PFDinTextPro-Medium.woff') format('woff');
        // url('../fonts/PFDinTextPro/PFDinTextPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('../fonts/PFDinTextPro/PFDinTextPro-Regular.woff2') format('woff2'),
        url('../fonts/PFDinTextPro/PFDinTextPro-Regular.woff') format('woff');
        // url('../fonts/PFDinTextPro/PFDinTextPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('../fonts/PFDinTextPro/PFDinTextPro-Thin.woff2') format('woff2'),
        url('../fonts/PFDinTextPro/PFDinTextPro-Thin.woff') format('woff');
        // url('../fonts/PFDinTextPro/PFDinTextPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('../fonts/PFDinTextPro/PFDinTextPro-Light.woff2') format('woff2'),
        url('../fonts/PFDinTextPro/PFDinTextPro-Light.woff') format('woff');
        // url('../fonts/PFDinTextPro/PFDinTextPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('../fonts/PFDinTextPro/PFDinTextPro-Bold.woff2') format('woff2'),
        url('../fonts/PFDinTextPro/PFDinTextPro-Bold.woff') format('woff');
        // url('../fonts/PFDinTextPro/PFDinTextPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



html, body{
    -webkit-overflow-scrolling: touch
}

.wrap{
    overflow: hidden;
    min-width: 320px;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select {
    outline: none;
    @include breakpoint(medium down) {
        height: 40px;
        padding: 0 17px;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: normal;
    }
}