.reviews{
    padding-top: 45px;
    padding-bottom: 54px;
    @include breakpoint(medium down) {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    @include breakpoint(small down) {
        padding-top: 20px;
    }
    &_header{
        @extend .advantages_header;
        font-size: 36px;
        @include breakpoint(small down) {
            font-size: 24px;
        }
    }
    &_descr{
        @extend .advantages_descr;
        font-size: 18px;
        @include breakpoint(small down) {
            font-size: 14px;
        }
    }
    &_slider{
        .owl{
            &-dots {
                bottom: 0;
            }
            &-dot{
                border-color: $third-color;
                &.active {
                    background-color: $third-color;
                }
            }
        }
    }
    &_review{
        margin-top: 20px;
        padding-bottom: 50px;
        text-align: center;
        @include breakpoint(medium down) {
            padding-bottom: 40px;
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;
        }
        @include breakpoint(small down) {
            padding-bottom: 30px;
        }
        &_img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            margin: auto;
            margin-bottom: 15px;
        }
        &_name{
            font-size: 36px;
            font-weight: 700;
            padding: 0 20px;
            @include breakpoint(small down) {
                font-size: 22px;
            }
        }
        &_location{
            font-size: 16px;
            margin-bottom: 24px;
            padding: 0 20px;
        }
        &_content{
            max-width: 956px;
            margin: auto;
            padding: 0 20px;
            line-height: 1.8;
            @include breakpoint(medium down) {
                line-height: normal;
            }
            &::before{
                content: '';
                display: block;
                margin: auto;
                width: 27px;
                height: 20px;
                margin-bottom: 15px;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAUCAYAAAB8gkaAAAAB2UlEQVRIS6VV0W0CMQyNRQZgBLoBbFA2gAlKJygoicRfyx9SjHQb9DoBbFCYgNugbFAGiOTKJ3IKIeE4NV8nnePnZ7/ngGg5WusPIcQ7ALxaa8u2+PC/1vqZiD4B4OycG0Pu8nK5HDjntkKIoY/pAuiLDPJXSTBjzJCIvoUQ/SD4DABja23Vxk4pxWxmUVxxA5YBqrgNRVGc7wHN5/O+lJKLbLrB8b4jV2D/AeKkKUZh6xswrqrX6x0BYBD2+RFGHJ+YUcOombn/MMZsiWgSzkhKOVqv16e2GbHqhBDcvvCsEJGV3JyamVJqAgCsvOYQ0XSz2ezagC73f6KO7BFxHN/1YA8Fp4CNMTP2UvRvjIj7G7AUqy5+UkrFhVaIOEoVBhlPsJfYV2ciOjjnypTsL+o9RonZHt6LByll6ecOWuvfyLypopKGTikwM+NaLAxGj4iAmTrnnkKGma4k07HguoBxkgUiFj6b1prlzrJvPUR06gQGADtr7dRnTnjzLmgnMCHElX86zKwuAjpWVyDiImDGr0Osxiw7ZpZaNckLADCKn5hH50ZEZb1BMlvgCjBn9NyzElVbP1HN1meGAPAWLWO+UxHR6t6evADOiegl3JG1AgG+nHMFW+YPBToa5P9YackAAAAASUVORK5CYII=);
            }
        }
    }
}

.revpeople{
    padding-bottom: 40px;
    padding-top: 45px;
    background-color: #f6f7fc;
    @include breakpoint(medium down) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @include breakpoint(small down) {
        padding-top: 20px;
        padding-bottom: 16px;
    }
    &_header{
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        color: $primary-color;
        margin-bottom: 40px;
        @include breakpoint(medium down) {
            margin-bottom: 35px;
        }
        @include breakpoint(small down) {
            font-size: 22px;
            margin-bottom: 15px;
        }
        span{
            color: $secondary-color;
        }
    }
    &_item{
        text-align: center;
        color: $primary-color;
        font-weight: 500;
        margin-bottom: 55px;
        @include breakpoint(medium down) {
            margin-bottom: 45px;
        }
        &_img{
            width: 136px;
            height: 136px;
            border-radius: 50%;
            margin: auto;
            margin-bottom: 12px;
        }
        &_name{
            font-size: 20px;
        }
        &_location{
            font-size: 13px;
        }
        &_stars{
            width: 62px;
            height: 12px;
            margin: 10px auto 14px;
            background-image: url(../img/stars.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &_more{
        font-size: 24px;
        font-weight: 500;
        color: $primary-color;
        display: table;
        margin: auto;
        margin-top: 25px;
        @include breakpoint(medium down) {
            margin-top: 15px;
        }
        @include breakpoint(small down) {
            font-size: 18px;
            margin-top: 0;
        }
        &:after{
            content: '';
            display: block;
            width: 26px;
            height: 26px;
            background-image: url(../img/download.png);
            background-size: contain;
            margin: auto;
            margin-top: 15px;
            @include breakpoint(small down) {
                width: 15px;
                height: 15px;
                margin-top: 10px;
            }
        }
    }
}