section.advantages
    .advantages_header
        | НАШИ ПРЕИМУЩЕСТВА
    .advantages_descr
        | Гарантия на продукцию - до 30 лет!
    .row.advantages_content
        .column.advantages_advantage.advantages_advantage--numone
            .advantages_advantage_content
                .advantages_advantage_content_item.advantages_advantage_content_item--default
                    | Преимущество
                    br
                    | №1
                .advantages_advantage_content_item.advantages_advantage_content_item--active
                    b Преимущество №1
                    p
                        | Нашей компании - 21 год!
                        br
                        | Далеко не каждая оконная
                        br
                        | фирма может похвастаться
                        br
                        | таким солидным стажем!
                        br
                        | А от него - очень
                        br
                        | многое зависит!
                    a(href="#")
                        | Узнать преимущество №2
        .column.advantages_advantage
            .advantages_advantage_img
                img(src="./img/advantages/star.svg", alt="Звезда")
            .advantages_advantage_title
                | Окна по ГОСТу
             .advantages_advantage_descr
                | Продукция сертифицирована в системе ГОСТ. Кроме того соответствует европейскому стандарту EN 14351-1 подтверждено испытаниями во Франции.
        .column.advantages_advantage
            .advantages_advantage_img
                img(src="./img/advantages/clock.svg", alt="Часы")
            .advantages_advantage_title
                | Монтаж с гарантией
            .advantages_advantage_descr
                | Монтаж пластиковых окон в соответствии со Стандартом качества Kaleva. Стаж работы монтажников - от 10 до 17 лет!
        .column.advantages_advantage
            .advantages_advantage_img
                img(src="./img/advantages/support.svg", alt="Чат")
            .advantages_advantage_title
                | Окна от производителя
            .advantages_advantage_descr
                | Делая заказ на нашем сайте, вы покупаете оригинальную продукцию Kaleva, с гарантией качества производителя