nav.nav
    .row.nav_inner
        .column.large-2.nav_logo
            a(href="/")
                img(src="../img/logo.svg", alt="")
        .column.nav_menu
            ul.menu
                li
                    a(href="#")
                        | ОКНА КАЛЕВА
                li
                    a(href="#")
                        | ДВЕРИ
                li
                    a(href="#")
                        | БАЛКОНЫ
                li
                    a(href="#")
                        | КОТТЕДЖИ
                li
                    a(href="#")
                        | АКЦИИ
                li
                    a(href="#")
                        | ЦЕНЫ
                li
                    a(href="#")
                        | УСЛУГИ
                li
                    a(href="#")
                        | ОТЗЫВЫ
                li
                    a(href="#")
                        | КОНТАКТЫ
        .column.large-2.nav_call
            button.button.small.alert.button--red
                | Обратный звонок