section.reviews
    .reviews_header
        | Отзывы
    .reviews_descr
        | Нам доверяют тысячи людей!
    .row.owl-carousel.reviews_slider
        .reviews_review
            .reviews_review_img
                img(src="./img/reviews/tatyana.jpg", alt="Татьяна")
            .reviews_review_name
                | Татьяна
            .reviews_review_location
                | (Долгопрудный, Лихачевское шоссе)
            .reviews_review_content
                | Обращалась в "КАЛЕВА" 3 раза по замене деревянных окон на пластиковые и установке окон в деревянном срубе. Хочу поблагодарить весь персонал фирмы по всем этапам работы: от первичных замеров, составления договоров, исполнения заказов, доставки и монтажа. По техническому обслуживанию ничего не могу сказать,т. к. в течение 6 лет не приходилось вызывать службы по  какому-либо ремонту фурнитуры или  окон . И хочу пожелать всему коллективу работать еще много лет и радовать нас своей продукцией.
        .reviews_review
            .reviews_review_img
                img(src="./img/reviews/tatyana.jpg", alt="Татьяна")
            .reviews_review_name
                | Татьяна
            .reviews_review_location
                | (Долгопрудный, Лихачевское шоссе)
            .reviews_review_content
                | Обращалась в "КАЛЕВА" 3 раза по замене деревянных окон на пластиковые и установке окон в деревянном срубе. Хочу поблагодарить весь персонал фирмы по всем этапам работы: от первичных замеров, составления договоров, исполнения заказов, доставки и монтажа. По техническому обслуживанию ничего не могу сказать,т. к. в течение 6 лет не приходилось вызывать службы по  какому-либо ремонту фурнитуры или  окон . И хочу пожелать всему коллективу работать еще много лет и радовать нас своей продукцией.